.App {
  display: flex;
  flex-direction: column;
}

.App-logo {
  align-self: center;
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  display: flex;
  background-color: #666464;
  height: 150px;
  padding: 20px;
  color: white;
  justify-content: space-between;
}

.App-header .play-indicator .name-score {
  display: flex;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.App-header .play-indicator .name-score.player-1.next {
  background-color: black;
}

.App-header .play-indicator .name-score.player-2.next {
  background-color: white;
  color: black;
}

.App-header .play-indicator .name-score .score {
  margin-left: 1rem;
}

.App-title {
  align-self: center;
  font-size: 1.5em;
}

.App .Board {
  align-self: center;
  margin-top: 1rem;
  width: 700px;
  height: 700px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
